%% Erlang compiler options
{erl_opts, [
  % Include debug information in the form of abstract code in the compiled
  % beam module. Tools such as Debugger, Xref and Cover require the debug
  % information to be included.
  debug_info
]}.

{sub_dirs, [
  "apps/estatsd",
  "apps/estatsd/src/adapters",
  "apps/estatsd/src/adapters/librato",
  "rel"
]}.
