{mode, {rate, 1000}}.

{duration, 5}.

{concurrent, 2}.

{driver, opscode_estatsd_driver}.

{code_paths, ["deps/stats"]}.

{key_generator, {function, opscode_stats_gen, new_stat, []}}.

{value_generator, {fixed_bin, 10248}}.

{operations, [{put, 1}]}.

{estatsd_host, "127.0.0.1"}.
{estatsd_port, 3344}.
