{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "estatsd", "0.01",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         inets,
         mochiweb,
         webmachine,
         folsom,
         estatsd
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "estatsd"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, folsom, [{incl_cond, include}]},
       {app, estatsd, [{incl_cond, include}]}
      ]}.

{target_dir, "estatsd"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/estatsd", "bin/estatsd"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
