[
  {estatsd, [
    % The port to listen on.
    {port, 3344},

    % Maximum number of packets per batch. Defaults to 100.
    {max_batch_size, 100},

    % Number of ms until a batch is flushed automatically. Defaults to 2000.
    {max_batch_age, 2000},

    % Time in ms between each flush. Defaults to 10000. (10s)
    {flush_interval, 10000},

    % Server options.
    {server_opts, [
      % If the host has several network interfaces, this option specifies which
      % one to use. Defaults to {0, 0, 0, 0}.
      {ip, {127, 0, 0, 1}},

      % The size of the receive buffer to use for the socket.
      % Defaults to 8192.
      {recbuf, 524288}  % 512 KiB
    ]},

    % The list of adapters you would like to handle metrics
    % Add adapters in the form: {AdapterModule::atom(), AdapterInitArgs::term()}
    {adapters, [
      % Logger adapter, prints metrics to stdout.
      {estatsda_logger, []}

      % Librato Metrics: https://metrics.librato.com
      % {estatsda_librato, {
      %   "<username>",  % Username, usually your mail address
      %   "<token>"  % Auth token, a very long hash
      % }}
    ]}
  ]},

  {sasl, [
    % Installs sasl_report_file_h in the error logger. This makes all reports
    % go to the file.
    {sasl_error_logger, {file, "error.log"}},

    % Restricts the error logging performed by the specified sasl_error_logger
    % to error reports, progrexss reports, or both. Default is all.
    {errlog_type, error},

    % Specifies in which directory the files are stored. If this parameter is
    % undefined or false, the error_logger_mf_h is not installed.
    {error_logger_mf_dir, "log/sasl"},

    % Specifies how large each individual file can be. If this parameter is
    % undefined, the error_logger_mf_h is not installed.
    {error_logger_mf_maxbytes, 10485760},  % 10MB

    % Specifies how many files are used. If this parameter is undefined, the
    % error_logger_mf_h is not installed.
    {error_logger_mf_maxfiles, 5}
  ]}
].
